  <h1>Add a Call</h1>
  <%= form_for @call do |f| %>
    <div class="form">
      <div>
        <%= f.label :date, "Date" %><br>
        <%= f.date_field :date %>
      </div>
      <div>
        <%= f.label :time, "Time" %><br>
        <%= f.time_field :time %>
      </div>
       <div>
        <%= f.label :notes %><br>
        <%= f.text_field :notes %>
      </div>
    </div>
    <div><%= f.submit "Add" %></div>
  <% end %>
