<h1>Contacts</h1>
 
<% @contacts.each do |contact| %>
<table class="table">
  <tr>
  	<th>First Name</th>
  	<th>Last Name</th>
  	<th>View</th>
  	<th>Update</th>
  	<th>Delete</th>
  </tr>
  <tr>
    <td><%= contact.first_name %></td>
    <td><%= contact.last_name %></td>
    <td><%= link_to "View", contact_path(contact) %></td>
    <td><%= link_to "Update", edit_contact_path(contact) %></td>
    <td><%= link_to "Delete", contact, method: :destroy, data: { confirm: "Are you sure?" } %></td>
  </tr>
</table>
<% end %>

 
</br>
 
<%= link_to "Create New Contact", new_contact_path %>
