<h1>Contacts</h1>

<%= @contacts.each do |contact| %>
	<table class=table>
		<tr>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Email</th>
			<th>Phone Number</th>
			<th>Company</th>
		</tr>
		<tr>
			<td><%= contact.first_name %></td>
	    <td><%= contact.last_name %></td>
	    <td><%= contact.email %></td>
	    <td><%= contact.phone_number %></td>
	    <td><%= contact.company %></td>
	  </tr>
	</table>
<% end %>
