<h1>Contact Info</h1>

<h2><%= @contact.first_name %></h2> <h2><%= @contact.last_name %></h2>
<h3><%= @contact.email %></h3>
<h4><%= @contact.phone_number %></h4>

<%= link_to "Back to Contacts", contacts_path %><br/>
